<h1>履歷列表</h1>
<form  method="get">
    <input type="text" name="keyword" value="<%= params[:keyword] %>" id="" placeholder="請輸入關鍵字...">
    <input type="submit" value="送出">
</form>


<%= link_to "新增履歷", resumes_new_path %>
<%
=begin%>
 <%= render partial: "resume", collection: @resumes %> 
<%
=end%>
<%= render @resumes %>